.wrapperTable {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.671);
  padding: 5px;
  overflow-y: scroll; 
  overflow-x: hidden;
}

.rowForData {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19%;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.575);
}

.cell:last-child {
  border: none;
}

